@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --color1: #1B263B;
  --color2: #415A77;
  --color3: #00B4D8;
  --color4: #E0E1DD;
  --color5: #FFB703;

  --font1: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--font1);
}

main {
  height: 100%;
  width: 100%;
}

span#video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000005b;
  z-index: -1;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -2;
}

#search-location {
  display: flex;
  gap: 5px;
  padding: 10px;
  background-image: linear-gradient(to bottom, #000000bd, #000000bd, transparent);
}

#location-input {
  height: 31px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  color: white;
  background-color: #ffffff5b;
}

#location-input:focus-within {
  outline: 2px solid var(--color3);
}

button {
  width: 31px;
  font-size: 1.1em;
  padding: 3px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--color5);
  transition: background-color 0.1s, transform 0.1s;
}

button:hover {
  cursor: pointer;
  background-color: var(--color3);
}

button:active {
  transform: scale(0.9);
  background-color: var(--color2);
}

#today-info {
  margin-top: 30px;
  padding: 10px;
  color: white;
}

#location-group {
  display: flex;
  gap: 5px;
}

#location-icon-span { /* Pode voltar para span */
  display: grid;
  align-content: center;
  justify-content: center;
}

#location-icon-span > i {
  font-size: 0.8em;
}

h1 {
  font-size: 1em;
}

#temperature-area {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#temperature {
  font-size: 4em;
  font-weight: normal;
}

#temperature::after {
  content: "°C";
}

#apparent-temperature-area > p {
  font-size: 0.85em;
}

#apparent-temperature-area > h2 {
  font-size: 1em;
  text-align: right;
}

#apparent-temperature-area > h2::after {
  content: "°C";
}

.others-info {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  gap: 10px;
  margin-top: 20px;
}

.others-info-item {
  display: flex;
  gap: 5px;
}

.others-info-item > i {
  text-shadow: 0 0 2px black;
  color: var(--color3);
}

.wind-speed::after {
  content: " Km/h";
}

.relative-humidity::after {
  content: " %";
}

.precipitation::after {
  content: " mm";
}

.pressure::after {
  content: " hPa";
}